# Java / Spring Boot
target/
*.class

# React / Node
node_modules/
dist/
build/

# Database
*.db
*.sqlite
*.sqlite3

# Environment / secrets
.env
.env.*

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db